* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
section {
    background-color: #FFFAF3;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 70px;
    padding-bottom: 40px;
    // max-width: 1422px;
}
// .container-fluid {
//     max-width: 1422px;
// }

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

@keyframes rotate-360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes stroke {
    0% {
        fill: rgba(255, 255, 255, 0);
        stroke: rgb(255, 255, 255);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(255, 255, 255, 0);
        stroke: rgb(255, 255, 255);
    }

    80% {
        fill: rgba(255, 255, 255, 0);
        stroke: rgb(255, 255, 255);
        stroke-width: 3;
    }

    100% {
        fill: rgb(255, 255, 255);
        stroke: rgba(255, 255, 255, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }

}

@keyframes identifier {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes move1 {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(-15px, -15px);
    }
    50% {
        transform: translate(-8px, -8px);
    }
    75% {
        transform: translate(-15px, 8px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes move2 {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(15px, 15px);
    }
    50% {
        transform: translate(8px, 8px);
    }
    75% {
        transform: translate(15px, -8px);
    }
    100% {
        transform: translate(0);
    }
}